.card {
	margin: 15px 0;
}

.choice {
	margin: 15px 15px;
}

.jumbotron {
	background: url('../images/background image.jpg');
	background-position: center center;
}

.display-4 {
	text-shadow: 1px 1px black;
	color: white;
	font-weight: bold;
}